{# src/AppBundle/Resources/views/Form/TableButtonDelete.html.twig #}

<td class="text-center">

    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal"
       data-target="#confirmDelete_{{ id }}"><span class="glyphicon glyphicon-trash"></span>
    </button>

    <div id="confirmDelete_{{ id }}" class="modal fade" tabindex="-1"
       role="dialog" aria-labelledby="confDel_{{ id }}" aria-hidden="true">
        <div class="modal-dialog modal-sm">
               <div class="modal-content">

             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ 'modal.areyousure'|trans }}</h4>
             </div>

             <div class="modal-body">
                   <p>{{ 'modal.datalose'|trans }}</p>
             </div>

             <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.no'|trans }}</button>
                  <a href="{{ url(absoluteurl,{'item': id}) }}">
                     <button type="button" class="btn btn-danger">
                       {{ 'action.yes'|trans }}
                     </button>
                  </a>
             </div>

               </div>
        </div>
    </div>
</td>
