{# src/AppBundle/Resources/views/HomePage/index.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    {% if posts is not empty %}

        {% include 'AppBundle:Post:list.html.twig' with {'posts': posts} only %}

        <a href="{{ path('readmore', {'page': 2, 'maxResults': 5}) }}" style="text-decoration: none">
            <button id="readmore" type="button" class="center-block btn btn-lg btn-primary"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ 'readmore'|trans }}</button>
        </a>

    {% endif %}

{% endblock %}
