{# AppBundle/Resources/views/HomePage/readmore.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    {% if posts is not empty %}

        {% include 'AppBundle:Post:list.html.twig' with {'posts': posts} only %}

        {% include
            'AppBundle:Form:Paginator.html.twig'
            with {
                'page': page,
                'maxPages': maxPages,
                'maxResults': maxResults,
                'absoluteurl': 'readmore',
                'selectMaxResults': true
            } only
        %}


    {% else %}
        {% include 'AppBundle:Form:ThereIsNoItems.html.twig' with {'nameEntity': 'entity.post.plural'|trans} only %}     
    {% endif %}

{% endblock %}
