{# src/AppBundle/Resources/views/Post/form.html.twig #}

{% extends "::base.html.twig" %}


{% block body %}
    {% include 'AppBundle:Form:Header.html.twig' with {'action': action, 'nameEntity': 'entity.post'|trans } only %}

    {{ form_start(form) }}

        <!-- Input postTitle -->
        {% include
            'AppBundle:Form:BootstrapInput.html.twig'
            with {
                'id': form.postTitle.vars.id,
                'title': 'entity.post.postTitle'|trans,
                'full_name': form.postTitle.vars.full_name,
                'value': form.postTitle.vars.value,
                'errors': form.postTitle.vars.errors,
                'errors_form': form.postTitle, 
            } only
        %}
        <br/>

        <!-- Date postCreationDate -->
        {% include
            'AppBundle:Form:BootstrapDate.html.twig'
            with {
            'title': 'entity.post.postCreationDate'|trans,
            'form': form.postCreationDate
            } only
        %}

        <!-- Choice postPublished -->
        {% include
            'AppBundle:Form:BootstrapChoice.html.twig'
            with {
                'title': 'entity.post.postPublished'|trans,
                'form': form.postPublished
            } only
        %}

        <!-- Textarea postDescription -->
        {{ form_row(form.postDescription) }}
        <br/>

        <!-- Textarea postContent -->
        {{ form_row(form.postContent) }}
        <br/>


        <!-- CSRF -->
        {{ form_widget(form._token) }}

        <!-- Button Submit -->
        {% include
            'AppBundle:Form:BootstrapButtonSubmit.html.twig'
            with {
                'action': action
            } only
        %}

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
