{# src/AppBundle/Resources/views/Sidebar/sidebar.html.twig #}

<section class="section">
    <header>
    <h3><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#337ab7"><!--<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;&nbsp;-->{{ 'sidebar.language.switcher'|trans({}, 'sidebar') }}</a></h3>
    <header>
        <p>
            <center>
                <a href="{{ url('switch_language_english') }}" style="color:#337ab7">
                <img src="{{ asset('bundles/app/images/flags/us.png') }}" alt="{{ 'sidebar.locale.english'|trans({}, 'sidebar') }}">&nbsp;&nbsp;{{ 'sidebar.locale.english'|trans({}, 'sidebar') }}</a>
                <a href="{{ path('switch_language_german') }}" style="color:#337ab7">
                <img src="{{ asset('bundles/app/images/flags/de.png') }}" alt="{{ 'sidebar.locale.german'|trans({}, 'sidebar') }}">&nbsp;&nbsp;{{ 'sidebar.locale.german'|trans({}, 'sidebar') }}</a>
            </center>
        </p>
</section>

<section class="section">
    <header>
        <div style="color:#337ab7">
        <h3>
            <!--<span class="glyphicon glyphicon-tag" aria-hidden="true" style="color:#337ab7"></span>&nbsp;&nbsp;-->{{ 'sidebar.tag.cloud'|trans({}, 'sidebar') }}
        </h3>
        </div>
    </header>
    <p class="tags">

    </p>
</section>

<section class="section">
    <header>
        <div style="color:#337ab7">
        <h3>
            <!--<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;-->{{ 'sidebar.recent.comments'|trans({}, 'sidebar') }}
        </h3>
        </div>
    </header>

        <p>{{ 'no.recent.comments'|trans({}, 'sidebar') }}</p>
</section>


{# Below we have the project version showing. Tray to keep at the bottom #}
<section class="section">
    <header>
        <div style="color:#337ab7">
        <h3>
            <!--<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:#337ab7"></span>&nbsp;&nbsp;-->{{ 'sidebar.software.version'|trans({}, 'sidebar') }}
        </h3>
        </div>
    </header>
    <p>
        HubShark CMS - <font size="-1">{{ app_version }}</font>
    </p>
</section>
